html
  font-size: 62.5%
  box-sizing: border-box
body ,
#root
  margin: 0
  height: 100vh
  background-color: #eee
  a:hover
    color: #ff8000
    transition: all .5s ease-in-out
body,
input,
button,
textarea,
select
  font-family: 'Roboto', sans-serif
  font-size: 1.6rem
.grid-container
  display: grid
  grid-template-areas: "header" "main" "footer"
  grid-template-rows: 5rem 1fr 5rem
  grid-template-columns: 1fr
  height: 100%
  header
    grid-area: header
    background-color: #203040
    color: #fff
    display: flex
    align-items: center
    padding: .5rem
    a
      color: #fff
      text-decoration: none !important
  main
    grid-area: main
    .content
      display: flex
      flex-wrap: wrap
      .main
        flex: 3 60rem
        .products
          display: flex
          flex-wrap: wrap
          justify-content: center
          align-items: center
          margin: 0
          list-style-type: none
          li
            flex: 0 1 29rem
            height: 47rem
            padding: 1rem
            .product
              display: flex
              flex-direction: column
              justify-content: space-between
              height: 100%
              a
                text-decoration: none !important
                max-height: 37rem
                max-width: 37rem
                img
                  height: 100%
                  width: 100% !important
              .product-price
                display: flex
                justify-content: space-between
                align-items: center
                div, button
                  text-align: center
                  flex: 1
                div
                  font-size: 2rem
                button
                  padding: .5rem
                  border: .1rem #c0c0 solid
                  font-size: 1.6rem
        .filter
          display: flex
          padding: 1rem
          margin: 1rem
          border-bottom: .1rem #bbb solid
          justify-content: space-between
          div
            flex: 1
      .sidebar
        flex: 1 20rem
        .cart
          display: flex
          padding: 1rem
          margin: 1rem
        .cart-header
          border-bottom: .1rem #bbb solid
        .cart-items
          width: 100%
          padding: 0
          list-style-type: none
          li
            display: flex
            div
              padding: .5rem
              &:last-child
                flex: 1
            .right
              text-align: right
          img
            width: 5rem
        .total 
          display: flex 
          width: 100% 
          align-items: center
          justify-content: space-between
          &>div , &> button
            flex: 1 
            font-size: 2rem
  footer
    grid-area: footer
    background-color: #203040
    color: #fff
    display: flex
    justify-content: center
    align-items: center